.App {
  text-align: center;
  align-items: center;
  /* display: flex; */
  min-height: 100vh;
  justify-content: center;
  /* flex-direction: column; */
  background-color: #1d1f23
}

.App-header {
  background-color: #1d1f23;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

